<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-/mybatis.org/DTD Mapper 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sdut.rbs.dao.FileDao">

    <resultMap id="picUrlMap" type="com.sdut.rbs.entity.PicEntity">
        <result property="id" column="id"/>
        <result column="name" property="name"/>
        <result column="imgUrl" property="url"/>
    </resultMap>

    <insert id="addTimeTable" parameterType="map">
        insert into borrowInfo (name, time, date, reason, applyDate, isAdmit, roomName)
        VALUES (#{name},#{time},#{date},#{reason},#{applyDate},1,#{roomName});
    </insert>

    <insert id="addPic" parameterType="map">
        insert into picUrl(name, url) VALUES (#{map.name},#{map.url});
    </insert>

    <delete id="removePic">
        delete from picUrl where url = #{url};
    </delete>
</mapper>