<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-/mybatis.org/DTD Mapper 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sdut.rbs.dao.FileDao">
    <insert id="addTimeTable" parameterType="map">
        insert into RBS.borrowInfo (room_id, room_name, username, user_depart, time_id, time_name, date, reason, apply_time, is_need_media, is_admit)
        VALUES (#{roomId},#{roomName},#{username},#{userDepart},#{timeId},#{timeName},#{date},#{reason},#{applyTime},1,1);
    </insert>
</mapper>